In [3]:
# creating your first tuple

tuple1 = ('disco', 10, 1.2)
tuple1

('disco', 10, 1.2)

In [9]:
# print the type of tuple you created

type(tuple1)

tuple

In [12]:
# print the variable on each index like, normal indexing (0,1,2,....)

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [10]:
# print the type of value on each index

print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [35]:
# print the variable on each index like, negative indexing (-1, -2, -3,.....)

print(tuple1[-1])
print(tuple1[-2])
print(tuple1[-3])

1.2
10
disco

In [20]:
# Concatenate tuples (combining 2 tuples using + sign)

tuple2 = tuple1 + ('hard rock', 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [27]:
# slicing tuples

tuple2[0:3]

('disco', 10, 1.2)

In [28]:
# getting the length of a tuple

len(tuple2)

5

In [29]:
# A sample ratings sorting tuple

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

In [32]:
# sort the tuple

Ratingssorted = sorted(Ratings)
Ratingssorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [33]:
# Create a nest tuple

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

In [40]:
print('Element 0 of tuple:', NestedT[0])
print('Element 1 of tuple:', NestedT[1])
print('Element 2 of tuple:', NestedT[2])
print('Element 3 of tuple:', NestedT[3])
print('Element 4 of tuple:', NestedT[4])

Element 0 of tuple: 1
Element 1 of tuple: 2
Element 2 of tuple: ('pop', 'rock')
Element 3 of tuple: (3, 4)
Element 4 of tuple: ('disco', (1, 2))

In [43]:
# Access sub nest from main nest (e.g NestedT)

print(NestedT[4][0][1])
print(NestedT[4][1][1])
print(NestedT[2][1][3])

i
2
k

In [45]:
# how to find index of 2

NestedT.index(2)

1